if SHIELDS_JSOURYADO_LEFT

config ZMK_KEYBOARD_NAME
    default "jsouryado"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELDS_JSOURYADO_LEFT || SHIELDS_JSOURYADO_RIGHT

config ZMK_SPLIT
    default y
endif
